header{
    text-align: center;
}

input, button{
    display: block;
    padding: 1rem;
    margin: 1rem 0;
}

section{
    padding: 1rem;
    border: 3px solid black;
    border-radius: 16px;
    width: 50%;
    margin: 1rem auto;
}

ul{
    list-style-type: none;
}

li{
    display: inline;
}

a{
    color: white;
    background-color: teal;
    padding: 0.5rem
}

a:hover{
    color: teal;
    background-color: white;
    padding: 0.5rem;
    border: 2px solid teal;
}