body{
    height: 5000px;
}

.headertext{
    color: red;
    font-size: larger;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

.list{
    list-style: none;
    text-align: center;
}


.bottomLi{
    list-style-type: none;
    padding: 1rem;
    text-align: center;
    position: relative;
    bottom: -4000px;
}


p{
    text-align: center;
}

.coin{
    height: 15rem;

}

