html{
    font-size: 100%;
    background-color: #132357;
    font-family: 'Courier New', Courier, monospace;
}

header{
    background-color: whitesmoke;
    z-index: 0;
    padding: 1rem;
    border-radius: 1rem;
}

header h1{
    text-align: start;
    margin: 0;
}

header h2{
    text-align: start;
    margin: 0;
    margin-bottom: 1rem;
}

h4{
    text-align: center;
}



nav{
    padding: 1rem;
    overflow: hidden;
    background-color: whitesmoke;
    border-style: solid;
    border-width: 0.2rem;
    border-radius: 1rem;
}

nav a{
    letter-spacing: 0.1em;
    text-decoration: none;
    font-size: larger;
}

a:hover{
    text-decoration: underline;
    color: black;
}

a:link{
    color: #132357;
}

a:visited{
    color: black;
}

a{
    cursor: grab;
}

nav ul{
    text-align: center;
}

nav li{
    display: inline;
    list-style: none;
    padding: 2rem;
}


aside{
    background-color: whitesmoke;
    float: right;
    padding: 1rem;
    margin: 1rem;
    margin-right: 0;
    text-align: center;
    border-radius: 1rem;
}

aside article{
    text-align: start;
}



aside li{
    padding: 1rem;
}



section{
    margin: 1rem;
    margin-left: 0;
    background-color: whitesmoke;
    padding: 1rem;
    overflow: hidden;
    border-radius: 1rem;
    
}

section header{
    margin-bottom: 1rem;
}

section h3{
    text-align: center;
}

section footer{
    border-style: solid;
    border-width: 0.2rem;
    border-radius: 1rem;
    text-align: start;
}

article{
    background-color: whitesmoke;
    border-style: solid;
    border-width: 0.2rem;
    margin-bottom: 1rem;
    border-radius: 1rem;
    padding: 1rem;
    text-align: center;
}

article p{
    padding: 1rem;
    column-count: 2;
    text-align: start;
}



footer{
    text-align: center;
    background-color: whitesmoke;
    clear: both;
    padding: 1rem;
    border-radius: 1rem;
 
}

footer a{
    color: #132357 ;
}

form{
    text-align: start;
    display: inline-block;
}
form label{
    margin: 1rem;
}

form input{
    margin: 0.5rem;
}

summary{
     margin: 1rem;
 }

form textarea{
    margin: 1rem;
}

th{
    text-align: start;
    padding: 1rem;
}

td{
    text-align: start;
    padding: 1rem;
}

figcaption{
    text-align: center;
}

dt{
    padding: 0.5rem;
}

p{
    color: black;
}


table{
    table-layout: auto;
    width: 35rem;
    empty-cells: hide;
}

