#myVideo{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}


footer{
    position: fixed;
    bottom: 0;
    background: rgba(0,0,0,0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 1rem;
}

#myBtn{
    width: 10rem;
}

#myBtn:hover{
    color: #f1f1f1;
    background-color: black;
}