* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  text-align: center;
}
h1,
h3 {
  margin: 3rem;
}

nav {
  margin: 1rem;
}

li {
  margin: 1rem;
  display: inline;
}

section {
  padding-top: 5rem;
  margin: auto;
  width: 50%;
}

article {
  padding-top: 5rem;
  margin: auto;
  width: 50%;
}

a {
  padding: 1rem;
  text-decoration: none;
  color: black;
  border: 2px solid black;
  border-radius: 15px;
}

.interestingText {
  display: none;
}

.hideBtn {
  visibility: hidden;
}

#p1 {
  display: none;
  background-color: aqua;
}
#p2 {
  display: none;
  background-color: blue;
}
#p3 {
  display: none;
  background-color: darkblue;
}
#fadeOutBtn {
  display: none;
}

button {
  margin: 1rem;
}

#box1,
#box2,
#box3 {
  width: 100px;
  height: 100px;
  padding: 1rem;
  text-decoration: none;
  background-color: blue;
}

#buttonSection {
  display: inline;
}

#boxSection {
  width: 50%;
  margin: auto;
}
